@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');




body {
    background-color: #fafafa;
    background-image: '';
    background-size: cover;
    background-position: center;
    transition: '1s all';
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image:'';
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
    flex: 1;
    transition: 1s all;
}

header {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
    max-width: 800px;
    padding: 30px;
    margin: 0 0 30px;
    border-radius: 5px;
    font-size: 1.8rem;
}

/* temas */

.temas {
    background-color: rgb(238, 102, 92, 0.5);
    width: 85vw;
    max-width: 400px;
    margin-bottom: 20px;
    font-size: 1em;
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    
}

.temas h3 {
    margin: 10px 0;
    font-size: 2.2rem;
}

.temas button {
    height: 60px;
    margin: 5px 10px ;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s all;
    padding: 10px;
    font-size: 2.2em;
}

.temas button:hover {
    transform: scale(1.2);
    background: lightgray;
}

.temas button:nth-child(2):hover {
    background-image: url(../imagens/fundo_botao_rick.png);
    background-size: cover;
    background-position: center;

}

.temas button:nth-child(3):hover {
    background-image: url(../imagens/nCgtBc.png);
    background-size: cover;
    background-position: center;
}


.temas button:nth-child(4):hover {
    background-image: url(../imagens/fundo_botao.png);
    background-size: cover;
    background-position: center;
}

.temas button:nth-child(5):hover {
    background-image: url(../imagens/botao_akatsuki.png);
    background-size: cover;
    background-position: center;
}

.temas button:nth-child(6):hover {
    background-image: url(../imagens/botao_avengers.png);
    background-size: cover;
    background-position: center;
}

.temas button:nth-child(7):hover {
    background-image: url(../imagens/fundo_botao_ragnarok.jpg);
    background-size: cover;
    background-position: center;
}

.temas button:nth-child(8):hover {
    background-image: url(../imagens/fundo_botao_ellie.jpg);
    background-size: cover;
    background-position: center;
}

.temas button:nth-child(9):hover {
    background-image: url(../imagens/fundo_botao_resident_evil.png);
    background-size: cover;
    background-position: center;
}

.temas button:nth-child(10):hover {
    background-image: url(../imagens/fundo_botao_thrones.png);
    background-size: cover;
    background-position: center;
}

/* temas */

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    background: #ccc;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    /* border: 2px solid #add8e6; */
    border: '';
    border-radius: 5px;
    transition: all 400ms ease;
}

.front {
    transform: rotateY(180deg);
    
}

.back {
    background-image:'';
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
}

.parabens {
    position: absolute;
    width: 70vw;
    height: 70vh;
    background-image:'';
    background-size: cover;
    background-position: center;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    z-index: 10;
    padding: 40px;
    text-align: center;
    font-size: 1.7em;
    font-weight: 800;
    border-radius: 20px;
}

.texto-parabens {
    background-color: rgba(255,255,255, 0.7);
    padding: 10px;
    border-radius: 25px;
    font-family: 'Merriweather', serif;
}

.btn-recomecar {
    width: 65%;
    height: 40px;
    background-color: aqua;
    font-size: 1em;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 50px;
}

.dicas {
    background-color: #fafafa;
    width: 60vw;
    height: 30vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
    z-index: 100;
}

.dicas span {
    text-align: center;
}

.dicas button {
    background-color: aqua;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
}

@media screen and (max-width:480px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        padding: 3%;
    }

    header {
        font-size: 0.8em;
    }

    .btn-recomecar {
        width: 65vw;
    }

}

@media screen and (min-width: 600px) {
    .parabens {
        width: 600px;
        height: 900px;
    }
}
