


body {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}

.login_header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}

.login_header img {
    width: 100px ;
}

.login_header h1 {
    color: #888;
    font-size: 1.5em;
}

/* .login_input {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 15px;
    max-width: 300px;
    width: 100%;
    outline: none;
    padding: 15px;
} */

/* CSS INPUT */
.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #888 solid;
  display: block;
  width: 100%;
  padding: 15px 0 5px 0;
  font-size: 1.6rem;
  color: #888;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: #888;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 1.6rem;
  min-width: 5px;
  color: #888;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: lightblue;
  transform: translateY(-30px);
}

.form-control label span:nth-child(4) {
  margin-left: 7px;
}
/* CSS INPUT */




/* .login_button {
    background-color: #ee665c;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    max-width: 300px;
    width: 100%;
} */

.button:disabled {
    background-color: transparent;
    color: #888;
    cursor: auto;
}

/* CSS BOTAO */

.button {
  font-size: 1.7rem;
  color: #000;
  padding: 10px 35px;
  background-color: #EBF5EE;
  font-weight: bolder;
  border: 0px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  transition: all .2s ease-in-out .1s;
}

.button:hover {
  background-color: lightblue;
  transform: scale(1.2) rotate(5deg);
}

.button:before {
  content: '';
  position: absolute;
  background-color: #78A1BB;
  height: 180%;
  top: -30%;
  left: -40%;
  transform: rotateZ(20deg);
  width: 40px;
  transition: left .2s ease-in-out, left 0s;
}

.button:after {
  content: '';
  position: absolute;
  background-color: #283044;
  height: 180%;
  top: -30%;
  left: -40%;
  transform: translateX(-40px) rotateZ(20deg);
  width: 40px;
  transition: left .2s ease-in-out, left 0s;
}

.button:hover:after {
  left: 150%;
  transition: left .3s ease-in-out;
}

.button:hover:before {
  left: 150%;
  transition: left .3s ease-in-out;
}

/* CSS BOTAO */


footer {
  display: flex;
  padding: 10px;
  padding-top: 120px;
  flex-direction: column;
  align-items: center;
}

footer p {
  font-size: 15px;
  margin: 5px;
}

footer img {
  width: 30px;
  margin: 0 5px;
}


